/rpcone/nbproject/private/
/rpcone-server/nbproject/private/
/rpcone-client/nbproject/private/
/rpcone-server/build/
/rpcone-client/build/
/shoutbox-server/nbproject/private/
/shoutbox-client/nbproject/private/
/shoutbox-server/build/
/shoutbox-client/build/
/shoutbox-client/dist/
/Remotelib-server/nbproject/private/
/Remotelib-client/nbproject/private/
/Remotelib-client/build/
/Remotelib-server/build/
/Valentina/Remotelib-client/build/
/Valentina/Remotelib-client/nbproject/private/
/Valentina/Remotelib-server/build/
/Valentina/Remotelib-server/nbproject/private/
/Valentina/Remotelib-server/dist/