/rpcone/nbproject/private/
/rpcone-server/nbproject/private/
/rpcone-client/nbproject/private/
/rpcone-server/build/
/rpcone-client/build/
/shoutbox-server/nbproject/private/
/shoutbox-client/nbproject/private/
/shoutbox-server/build/
/shoutbox-client/build/
/remotelibclient/nbproject/private/
/remotelibserver/nbproject/private/
/remotelibserver/build/
/remotelibclient/build/